<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CPasChère</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="category" routerLinkActive="active">Catégories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products" routerLinkActive="active">Produits</a>
      </li>
      <div class="justify-content-end d-flex" *ngIf="!isUserLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registration" routerLinkActive="active">Inscription</a>
        </li>
      </div>
      <li class="nav-item" *ngIf="isUserLoggedIn">
        <button class="nav-link" (click)="onLogout()">Déconnexion</button>
      </li>
    </ul>
  </div>
</nav>
